h1{
    margin-top: 5px;
}
/* Styling for the form-section class to separate each section */
.form-section {
    margin-bottom: 20px; /* Add some space between sections */
    border: 1px solid #ccc; /* Add a border around each section */
    padding: 10px; /* Add some padding inside each section */
  }
  
  /* Additional styles for labels */
  .form-section label {
    margin: 4px;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  